<!DOCTYPE html>
<html>
	<head>
		<title>Session</title>
	</head>
	<body>
		<h1>Session?</h1>
		<h3>Login</h3>
		<form action="/user" method="post">
			Name: <input type="text" name="name">
			<input type="submit" value="submit">
		</form>
		<h3>You have visited <%= count %> time(s)</h3>
	</body>
</html>